.content{
    display: flex;
}
.imgbg{
    width: 300px;
    background-color: brown;
    padding: 10px;
    position: relative;
}
.name{
    position: absolute;
    top:90%;
    background-color: rgba(43, 25, 3, 0.37);
    width: 97%;
    color: white;
    font-size: 28px;
    font-weight: bold;
    

}