.myi{
  /* background-color: maroon; */
    text-align: center;
    width: 100%;
  
   color: #1F618D;
}
.myi:hover{
 
}
.crdclr{
    background-color: #ECF0F1;
    margin-top:20px;
}
#myeve{
  display: inline-block;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
}
.ser-head{
  padding: 10px;
  font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: black;
    font-family: 'Playfair Display', serif;
}