body{
    background-color:#DEF2F1 ;
  }
.img{
    width: 280px;
    height: 250px;
}
.img1{
    padding: 15px;
    margin: 5px;
    
   
}
.gallery{
    position: absolute;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 25%;
    left: 45%;
  
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    

}
.midsec{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
}
.bread{
    width: 1920px;
    height: 380px;


}

.container{
    
    margin-left: 4px;
    padding-left: 3px;
    margin-right: 2px;
    padding-right: 1px;
    border-left: 0px;
    border-right: 0px;
    justify-content: stretch;
}


.img:hover{
   border-width: 8px;
    border-color: wheat;
    border-style: solid;
   
    
    
}
.content{
    width: 100%;
    
}