.img{
    width: 250px;
    height: 250px;
}
.bread{
    width: 100%;
    height: 300px;

}
.img{
    margin: auto;
    padding-left: 1px;
    padding-bottom: 5px;
}


.img:hover{
   border-width: 8px;
    border-color: darkblue;
    border-style: solid;
    
}
.content{
    width: 800pxx;
    
}
