body{
  background-color: fcf6f5ff;
}
.whole{
background-color: #e6ffe6;
}
#sent{
  color: black;
}

#col{
  color: black;
}

.events{
    border-radius: 20px;
   margin: 10px;
    padding: 10px;
    background-color: honeydew;
    width: 250px;
    height: auto;
  }
  

#owl-demo{
   background-image: url(https://cdn.pixabay.com/photo/2016/06/29/08/50/pencil-1486278_1280.jpg);
   background-attachment: fixed;
    display: flex;
    width: 100%;
 margin-top: 40px ;
    justify-content:space-around;
  
   margin-right: 10px;
    margin-bottom: 40px;
}
#owl-demo .item{
    background: transparent;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }

.head{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: black;
    font-family: 'Playfair Display', serif;
}
.para{
    font-size: 20px;
    text-align: justify;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}
.board{
    margin: 10px;
    font-size: 20px;
    text-align: justify;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;

}


@media screen and (max-width: 780px) {
    .phone{
      background-color: violet;
      display: inline;
    }
   #owl-demo{
    overflow-x: scroll;
    justify-content: flex-start;
   }

   }
   
   .about{
     margin-top: 10px;
   }
  
  
   .mycar{
    width: 100%;
  }
  .carousel-inner{
    width:100%;
    max-height: 600px !important;
  }
  .cs{
    display: flex;
    overflow-x: scroll;
  }
  
   